{% extends "base.html" %}
{% load static %}
{% block title %}Data Analysis{% endblock title %}

{% block body %}

<div class="row" style="margin-top: 0px;">
  <!-- Navbar on the left -->
  <nav id="navbar-example3" class="col-md-2 navbar navbar-light bg-light flex-column align-items-stretch p-3 border-right">
    <nav class="nav nav-pills flex-column">
      <a class="nav-link" href="#data-analysis"><strong>Data Analysis</strong></a>
      <a class="nav-link" href="#univariate-analysis"><strong>Univariate Analysis </strong></a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ml-3 my-1" href="#univariate-1">Numerical Data</a>
        <a class="nav-link ml-3 my-1" href="#univariate-2">Categorical Data</a>
      </nav>
      <a class="nav-link" href="#bivariate-analysis"><strong>Bivariate Analysis</strong></a>
      <nav class="nav nav-pills flex-column">
        {% comment %} <a class="nav-link ml-3 my-1" href="#bivariate-1">Bivariate 1</a>
        <a class="nav-link ml-3 my-1" href="#bivariate-2">Bivariate 2</a>
        <a class="nav-link ml-3 my-1" href="#bivariate-3">Bivariate 3</a> {% endcomment %}
      </nav>
    </nav>
  </nav>

  <!-- Scrollable content on the right -->
  <div
    class="col-md-10"
    data-spy="scroll"
    data-target="#navbar-example3"
    data-offset="100"
    style="height: calc(100vh - 70px); overflow-y: auto; padding: 20px; overflow-x: hidden;"
  >
    <h4 id="data-analysis">Data Analysis</h4>
    <p>
      This Page provides an overview of the data analysis conducted on the Loan dataset. The analysis aims to explore and understand the underlying patterns, relationships, and distributions within the data. 
      Various visualizations such as histograms, bar charts, pie charts, and violinplots are used to present insights in an intuitive and meaningful way. 
      The univariate analysis focuses on individual features to identify trends and anomalies, while the bivariate analysis examines relationships between pairs of variables, such as the impact of demographic factors on loan approval status.
    </p>
    
    <br>
    <h4 id="univariate-analysis">Univariate Analysis </h4>
    <h5 id="univariate-1">Numerical Data</h5> 
    <h6>Age</h6>
    <img src="/static/age.png" alt="" class="img-fluid">
    <h6>Income</h6>
    <img src="/static/income.png" alt="" class="img-fluid">
    <h6>Employment Experience</h6>
    <img src="/static/emp_exp.png" alt="" class="img-fluid">
    <h6>Loan Amount</h6>
    <img src="/static/amount.png" alt="" class="img-fluid">
    <h6>Loan Interest Rate</h6>
    <img src="/static/intrest_rate.png" alt="" class="img-fluid">
    <h6>Loan Percentage of Income</h6>
    <img src="/static/loan_precentage.png" alt="" class="img-fluid">
    <h6>Credit History (years)</h6>
    <img src="/static/credit_hist.png" alt="" class="img-fluid">
    <h6>Credit Score</h6>
    <img src="/static/credit_score.png" alt="" class="img-fluid">

    <h5 id="univariate-2">Categorical Data</h5>
    <h6>Gender</h6>
    <img src="/static/gender1.png" alt="" class="img-fluid"><br>
    <h6>Education</h6>
    <img src="/static/education1.png" alt="" class="img-fluid">
    <h6>Home Ownership</h6>
    <img src="/static/ownership1.png" alt="" class="img-fluid">
    <h6>Purpose</h6>
    <img src="/static/intent1.png" alt="" class="img-fluid">
    <h6>Previous Loan Default</h6>
    <img src="/static/default1.png" alt="" class="img-fluid">
    <h6>Loan Approval Status</h6>
    <img src="/static/loan_status1.png" alt="" class="img-fluid">

    <br><br>

    <h4 id="bivariate-analysis">Bivariate Analysis</h4>
    {% comment %} <h5 id="bivariate-1">Bivariate 1</h5> {% endcomment %}
    <h6>Distribution of Age by Loan Status</h6>
    <img src="/static/Distribution of Age by Loan Status.png" alt="" class="img-fluid">
    <h6>Credit History Length by Loan Status</h6>
    <img src="/static/Credit History Length by Loan Status.png" alt="" class="img-fluid">
    <h6>Loan Amount Distribution by Loan Status</h6>
    <img src="/static/Loan Amount Distribution by Loan Status.png" alt="" class="img-fluid">
    <h6>Employment Experience by Loan Status</h6>
    <img src="/static/Employment Experience by Loan Status.png" alt="" class="img-fluid">
    <h6>Loan Interest Rate by Loan Status</h6>
    <img src="/static/Loan Interest Rate by Loan Status.png" alt="" class="img-fluid">
    <h6>Loan Percent Income by Loan Status</h6>
    <img src="/static/Loan Percent Income by Loan Status.png" alt="" class="img-fluid">

    {% comment %} <h5 id="bivariate-2">Bivariate 2</h5> {% endcomment %}
    <h6>Gender Distribution</h6>
    <img src="/static/Approved Loan Status - Gender Distribution pie.png" alt="" class="img-fluid">

    {% comment %} <h5 id="bivariate-3">Bivariate 3</h5> {% endcomment %}
    <h6>Loan Status by Education Level</h6>
    <img src="/static/Loan Status by Education Level.png" alt="" class="img-fluid">
    <h6>Loan Status by Gender</h6>
    <img src="/static/Loan Status by Gender.png" alt="" class="img-fluid">
    <h6>Loan Status by Home Ownership</h6>
    <img src="/static/Loan Status by Home Ownership.png" alt="" class="img-fluid">
    <h6>Loan Intent by Loan Status</h6>
    <img src="/static/Loan Intent by Loan Status.png" alt="" class="img-fluid">
    <h6>Previous Loan Default</h6>
    <img src="/static/Previous Loan Default.png" alt="" class="img-fluid">
    
    <br><br>
  </div>
</div>
<br>
<br>
<br>
{% endblock body %}
